$blue-color: #3498db;
$red-color: #e74c3c;
$font-family: Arial, sans-serif;

div {
    font-family: $font-family;
    text-align: center;
    background-color: $red-color;
  }
  
  .titulo {
    color: $blue-color;
  }
  
  img {
    max-width: 25%;
    height: auto;
  }