body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
}

/* Estilos generales */
.header,
.footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.page-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* Page Container */
.page-container {
  display: flex;
  flex-wrap: column;
  min-height: 100vh;
}

/* Estilos del header */
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #555;
}

input {
  padding: 5px;
  margin-right: 10px;
}

/* Estilos de la barra de navegación */
nav {
  min-width: 200px;
  background-color: #eee;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.menu-container {
  margin: 0 auto;
  padding: 10px;
}

.menu-title {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  cursor: pointer;
  border: solid black;
}

/* Estilos del contenido principal */
main {
  flex: 1;
  padding: 1em;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
  margin: 0 auto;
  justify-content: space-around;
  padding: 1em;
  width: 100%;
 }
 /* TODO: modify grid to see the correct display on last child */

 .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ecf0f1;
  padding: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }
 
 .item img {
  width: 50%;
  height: auto;
  border-radius: 50%;
 }

.member-name {
  margin-top: 1em;
  font-size: 1.2em;
}

/* Estilos del footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: relative;
  bottom: 0;
}

/* Estilos de la barra de navegación para resoluciones pequeñas y grandes */
@media only screen and (max-width: 768px) {
  /* TODO: modify style to see the page-title */
  .toolbar {
    display: none;
  }

  .header {
    text-align: center;
  }

  .page-title {
    text-align: center;
    margin-bottom: 10px;
  }

  nav {
    order: -1;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #eee;
    z-index: 1000;
  }

  .menu-container {
    padding: 10px;
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  li {
    margin: 0 5px;
    cursor: pointer;
  }

  li a {
    display: block;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
  }

  main {
    order: 0;
    margin-top: 60px;
    padding-top: 60px;
  }

  footer {
    position: static;
  }
}
